<div class='clearfix round clip space-bottom swatches center'>

  {{#each color in view.colors}}
    <input id='color-{{color}}' name='color' type='radio' value='{{color}}' {{action 'changeColor' color}}>
    <label for='color-{{color}}' class='col-xs-2 row3 pad1 fill-{{color}}'>
      <i class='icon icon-ok-sign icon-lg center dark'></i>
    </label>
  {{/each}}
</div>
