<fieldset>
  <div class='input-group'>
    {{input value=description placeholder=addPlaceholder}}
    <div class='input-group-btn'>
      <a href='#fakelink' class='btn btn-primary' {{action 'addItem' description}}>
        <i class='icon icon-plus icon-sm pad0r'></i>
        {{addButton}}
      </a>
    </div>
  </div>
</fieldset>

{{#each items as |item index|}}
  <div class="pad1y keyline-bottom {{unless index 'keyline-top'}}">
    <a href='#fakelink' class='pull-right pad1l' {{action 'removeItem' item}}>remove</a>
    <p>{{item.description}}</p>
  </div>
{{/each}}
