<form>
  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Persona Header</h4>

    <h3>{{errorMessage}}</h3>
    <small class='strong space-bottom0'>Color</small>
    {{color-picker changeColor='changeColor'}}
    {{display-errors errors=errors.model.color showErrors=showErrors}}

    <fieldset>
      <label for='name'>Name</label>
      {{input value=model.name id='name' class='stretch'}}
      {{display-errors errors=errors.model.name showErrors=showErrors}}
      <p class='small quiet pad0y'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href='#fakelink'>Learn more <i class='icon icon-arrow-right'></i></a>
      </p>
    </fieldset>

    <small class='strong space-bottom0'>Avatar</small>
    {{avatar-picker changeAvatar='changeAvatar'}}
    {{display-errors errors=errors.model.avatar showErrors=showErrors}}
  </section>

  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Quote</h4>

    <fieldset>
      {{textarea value=model.description id='description' class='stretch'}}
      {{display-errors errors=errors.model.description showErrors=showErrors}}
    </fieldset>
  </section>

  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Behaviors</h4>

    {{input-list items=behaviors itemType="behaviour" add="createBehavior" remove="destroy"}}
  </section>

  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Goals</h4>

    {{input-list items=goals itemType="goal" add="createGoal" remove="destroy"}}
  </section>

  <div class='text-right'>
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
    <button {{action "save"}} disabled={{if isNotDirtyPersona 'disabled'}} class="btn btn-primary btn-wide">
      <i class="icon icon-floppy-disk pad0r"></i>
      Save changes
    </button>
  </div>
</form>
