<form>
  <fieldset>
    <label for="photo-url">Photo URL</label>
    {{input value=model.photoUrl id='photo-url'}}
  </fieldset>
  <fieldset>
    <label for="name">Name</label>
    {{input value=model.name placeholder='Name' id='name'}}
  </fieldset>
  <fieldset>
    <label for="description">Description</label>
    {{textarea value=model.description placeholder='Description' id='description'}}
  </fieldset>
  <button {{action "save"}} {{bind-attr disabled=isNotDirtyPersona}} class="btn btn-primary">Save</button>
  <button {{action "cancel"}} class="btn btn-default">Cancel</button>
</form>
