<form>
  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Persona Header</h4>

    <h3>{{errorMessage}}</h3>
    <small class='strong space-bottom0'>Color</small>
    {{color-picker changeColor='changeColor'}}
    {{display-errors errors=errors.model.color showErrors=showErrors}}

    <fieldset>
      <label for='name'>Name</label>
      {{input value=model.name id='name' class='stretch'}}
      {{display-errors errors=errors.model.name showErrors=showErrors}}
      <p class='small quiet pad0y'>
        Spice up your persona with a name that's distinct and memorable. You want others to easily picture <em>Jack</em> and his profile later. <a href='https://uxmag.com/articles/using-proto-personas-for-executive-alignment'>Learn more <i class='icon icon-arrow-right'></i></a>
      </p>
    </fieldset>

    <fieldset>
      <label for='role'>Role</label>
      {{input value=model.role id='role' class='stretch'}}
    </fieldset>

    <small class='strong space-bottom0'>Avatar</small>
    {{avatar-picker changeAvatar='changeAvatar'}}
    {{display-errors errors=errors.model.avatar showErrors=showErrors}}
  </section>

  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Quote</h4>

    <fieldset>
      {{textarea value=model.description id='description' class='stretch'}}
      {{display-errors errors=errors.model.description showErrors=showErrors}}
    </fieldset>
  </section>

  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Behaviors</h4>

    {{input-list items=behaviors itemType="behavior" add="createBehavior" remove="destroy"}}
  </section>

  <section class='space-bottom4'>
    <h4 class='fancy small space-bottom'>Goals</h4>

    {{input-list items=goals itemType="goal" add="createGoal" remove="destroy"}}
  </section>

  <div class='text-right'>
    <button {{action "cancel"}} class="btn btn-default">
      <i class="icon icon-remove pad0r"></i>Cancel
    </button>
    <button {{action "save"}} disabled={{if isNotDirtyPersona 'disabled'}} class="btn btn-primary btn-wide">
      <i class="icon icon-floppy-disk pad0r"></i>
      Save changes
    </button>
  </div>
</form>
