<form>
  <fieldset>
    <label for="name">Name</label>
    {{input value=model.name placeholder='Name' id='name'}}
  </fieldset>
  <fieldset>
    <label for="description">Description</label>
    {{textarea value=model.description placeholder='Description' id='description'}}
  </fieldset>

  {{color-picker changeColor='changeColor'}}
  {{avatar-picker changeAvatar='changeAvatar'}}

  <fieldset>
    <label>Behaviors</label>
    {{input-list items=behaviors add="createBehavior" remove="destroy"}}
  </fieldset>

  <fieldset>
    <label>Goals</label>
    {{input-list items=goals add="createGoal" remove="destroy"}}
  </fieldset>

  <div class='pad1y'>
    <button {{action "save"}} {{bind-attr disabled=isNotDirtyPersona}} class="btn btn-primary">Save</button>
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
  </div>
</form>
