<figure class="round contain clip">
  <header class="row10 fill-{{model.color}} dark pad4y center">
    <div class='pad1y'>
      <img src="/avatars/{{model.avatar}}.jpg" alt="{{model.name}}" class="img-circle ring" width="120">
    </div>
    <h3 class="fancy">{{model.name}}</h3>
    <p class="quiet">by {{model.createdBy}}</p>
  </header>
  <section class="fill-white pad4x pad2y">
    <div class="pad2 fill-light-blue">
      {{model.description}}
    </div>
    <div class="pad2y">
      <h4 class="fancy small space-bottom">Behaviors</h4>
      {{#each model.behaviors as |behavior|}}
        <p class="clearfix">
          <i class="icon icon-tag col-xs-1 pad0y"></i>
          {{behavior.description}}
        </p>
      {{/each}}
    </div>
    <div class="pad2y">
      <h4 class="fancy small space-bottom">Goals</h4>
      {{#each model.goals as |goal|}}
        <p class="clearfix">
          <i class="icon icon-tag col-xs-1 pad0y"></i>
          {{goal.description}}
        </p>
      {{/each}}
    </div>
  </section>
</figure>
