<section class="pad2y clearfix">
  <div class="col-xs-6 pad4x">
    <div class="center contain clearfix keyline-all">
      <div class="row6 fill-blue pin-top"></div>
      <div class="contain space-bottom1 row7">
        <img src="{{model.photoUrl}}" alt="{{model.name}}" class="pin-bottom img-circle" width="80">
      </div>
      <h3>{{model.name}}</h3>
      <h5 class="quiet">{{model.description}}</h5>
      <div class="text-left">
        <p>Behaviors</p>
        <ul>
          {{#each model.behaviors as |behavior|}}
            <li><label>{{behavior.description}}</label></li>
          {{/each}}
        </ul>
        <p>Goals</p>
        <ul>
          {{#each model.goals as |goal|}}
            <li><label>{{goal.description}}</label></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    {{partial "personas/form"}}

    <div id='behaviors-container'>
      <h2>Behaviors</h2>
      <ul>
        {{#each model.behaviors as |behavior|}}
          <li>
            {{input value=behavior.description}}
            <a href='#fakelink' class='icon icon-remove-sign quiet' {{action 'remove' behavior}}></a>
          </li>
        {{/each}}
        <li>
          {{input value=newBehavior action="addBehavior"}}
        </li>
      </ul>
    </div>

    <div id='goals-container'>
      <h2>Goals</h2>
      <ul>
        {{#each model.goals as |goal|}}
          <li>
            {{input value=goal.description}}
            <a href='#fakelink' class='icon icon-remove-sign quiet' {{action 'remove' goal}}></a>
          </li>
        {{/each}}
        <li>
          {{input value=newGoal action="addGoal"}}
        </li>
      </ul>
    </div>
  </div>
</section>

{{link-to '<< back' 'personas'}}
