<section class="pad2y clearfix">
  <div class="col-xs-6 pad4x">
    <div class="center contain clearfix keyline-all">
      <div class="row6 fill-blue pin-top"></div>
      <div class="contain space-bottom1 row7">
        <img src="{{model.photoUrl}}" alt="{{model.name}}" class="pin-bottom img-circle" width="80">
      </div>
      <h3>{{model.name}}</h3>
      <h5 class="quiet">{{model.description}}</h5>
    </div>
  </div>

  <div class="col-xs-6">
    {{partial "personas/form"}}
    <div id='behaviors-container'>
      {{#each model.behaviors}}
        <p>{{description}}</p>
      {{/each}}
    </div>
  </div>
</section>

{{link-to '<< back' 'personas'}}
