<section class="pad2y clearfix">
  <div class="col-xs-6 pad4x">
    <div class="center contain clearfix keyline-all">
      <div class="row6 fill-blue pin-top"></div>
      <div class="contain space-bottom1 row7">
        <img src="{{model.photoUrl}}" alt="{{model.name}}" class="pin-bottom img-circle" width="80">
      </div>
      <h3>{{model.name}}</h3>
      <h5 class="quiet">{{model.description}}</h5>
    </div>
  </div>

  <div class="col-xs-6">
    {{partial "personas/form"}}

    <div id='behaviors-container'>
      <h2>Behaviors</h2>
      <ul>
        {{#each model.behaviors as |behavior|}}
          <li>
            {{input value=behavior.description}}
            <button {{action 'removeBehavior' behavior}} class="destroy"></button>
          </li>
        {{/each}}
      </ul>
    </div>

    <div id='goals-container'>
      <h2>Goals</h2>
      <ul>
        {{#each model.goals as |goal|}}
          <li>
            {{input value=goal.description}}
            <button {{action 'removeGoal' goal }} class="destroy"></button>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

{{link-to '<< back' 'personas'}}
