<div class='keyline-bottom row3 fill-lighten2'></div>

<div class="container-fluid clearfix">

  <div class='contain clearfix pad2y cards'>
    {{#each model as |persona|}}
    <div class='col-md-4 col-sm-6 pad2'>
      {{#link-to 'personas.show' persona class="block row10 lift"}}
      <figure class='round contain clip'>
        <header class='fill-{{persona.color}} dark pad4y center'>
          <div class='pad1y'>
            <img src='avatars/{{persona.avatar}}.jpg' class='img-circle ring' width='120'>
          </div>
          <h3 class='fancy'>{{persona.name}}</h3>
          <p class='quiet'>{{persona.role}}</p>
        </header>
      </figure>
      {{/link-to}}
    </div>
    {{else}}
    <p>
      Oops! Create a new persona!
    </p>
    {{/each}}
  </div>

</div>
